<h3>Chat</h3>
<hr>

<div class="app-mensajes" id="app-mensajes">

  <div class="my-1" *ngFor="let chat of _cs.chats" [ngClass]="{'text-right': _cs.usuario.uid == chat.uid}">
      <div class="badge" [ngClass]="{'badge-primary': _cs.usuario.uid == chat.uid, 'badge-success': _cs.usuario.uid != chat.uid}">
        <span><strong>{{chat.nombre}}</strong></span>
        <br>
        <label>{{chat.mensaje}}</label>
      </div>
  </div>


  

</div>

<input type="text" 
        class="form-control" 
        [(ngModel)]="mensaje" 
        name="mensaje" 
        placeholder="Enviar mensaje..." 
        (keyup.enter)="enviarMensaje()">